::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
	padding: 5px;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body{
	margin: 0 15px 0 15px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

#content{
	padding: 20px;
}

/** nav **/
#nav{
	margin: 10px;
	padding: 5px;
}
#nav li{
	width: 10%;
	height: 22px;
	float: left;
	list-style-type: none;
	text-align: center;
	border-bottom: 1px solid #D0D0D0;
}
#nav li:hover{
	background-color: gray;
}
#addGameLink{
	padding: 15px;
}

/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
	text-align: center;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
div.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
div.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/* votes and setting owned */
.arrow{
	width: 23px;
	height: 24px;
	float: left;
	padding-left: 2px;
}
.arrow:hover{
	cursor: pointer;
}
.unclicked{
	background-image: url(../img/up_unclicked.png);
}
.clicked{
	background-image: url(../img/up_clicked.png);
}
.game_id{
	display: none;
	visibility: hidden;
}
#ays{
	display:none;
}
.bag{
	width: 25px;
	height: 25px;
	float: left;
	padding-left: 2px;
}
.bag:hover{
	cursor: pointer;
}
.owned{
	background-image: url(../img/owned.png);
}
.not_owned{
	background-image: url(../img/not_owned.png);
}

/* tables */
#owned_table{
	float:left;
	padding: 0px 15px;
}
#wanted_table{
	padding: 10px 15px;
}
#wanted_table table{
	width:350px;
}
tr:nth-child(odd){
	background-color:#eee;
}
tr:nth-child(odd):hover{
	background-color:#747E80;
	color: white;
}
tr:nth-child(even){
	background-color:#fff;
}
tr:nth-child(even):hover{
	background-color:#D5E1DD;
}
#voteTH{
	width: 80px;
}
table{
	width: 175px;
	height: auto;
	border: 1px solid #d0d0d0;
	margin: 10px 10px;
	position:relative;
}
