<IfModule mod_rewrite.c>
    RewriteEngine on
    #RewriteBase /#home/j_phenow/dev.jphenow.com/Nerdery/
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>
